--
-- PostgreSQL database dump
--

\restrict hL3bm3WzJhnNoi2SpFxmFzmsmQ1V8Uaui9f65oE9eZ98OJi3nRZ4gegMr7MSocT

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: config; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.config (
    key text NOT NULL,
    value jsonb NOT NULL
);


ALTER TABLE public.config OWNER TO app;

--
-- Name: metro_lines; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.metro_lines (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    color character varying(30) NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.metro_lines OWNER TO app;

--
-- Name: metro_lines_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.metro_lines_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.metro_lines_id_seq OWNER TO app;

--
-- Name: metro_lines_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.metro_lines_id_seq OWNED BY public.metro_lines.id;


--
-- Name: metro_lines id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.metro_lines ALTER COLUMN id SET DEFAULT nextval('public.metro_lines_id_seq'::regclass);


--
-- Data for Name: config; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.config (key, value) FROM stdin;
app.name	{"service": "lastmetro-api", "version": "1.0.0"}
metro.defaults	{"line": "M1", "timezone": "Europe/Paris", "headwayMin": 5}
station.chatelet	{"name": "Ch├ótelet", "lines": ["M1", "M4", "M7", "M11", "M14"], "lastMetro": "00:40"}
\.


--
-- Data for Name: metro_lines; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.metro_lines (id, name, color, created_at) FROM stdin;
2	Ligne 4	Violet	2025-10-28 11:25:40.28009
3	Ligne 14	Bleu	2025-10-28 11:25:40.28009
1	Ligne 1 Bis	Jaune Fonc´┐¢	2025-10-28 11:25:40.28009
\.

--
-- Name: metro_lines_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.metro_lines_id_seq', 43, true);


--
-- Name: config config_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.config
    ADD CONSTRAINT config_pkey PRIMARY KEY (key);


--
-- Name: metro_lines metro_lines_name_key; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.metro_lines
    ADD CONSTRAINT metro_lines_name_key UNIQUE (name);


--
-- Name: metro_lines metro_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.metro_lines
    ADD CONSTRAINT metro_lines_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict hL3bm3WzJhnNoi2SpFxmFzmsmQ1V8Uaui9f65oE9eZ98OJi3nRZ4gegMr7MSocT

